<%layout("/layout/boilerPlate")-%>
    <div class="row mt-3 mb-3">
        <div class="col-6 offset-3">
        <h3><%=data.title%></h3>
            <div class="card listing-card">
                <img src="<%=data.img%>" class="card-img-top show-img mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text">Owned by <b><%=data.owner.username%></b></p>
                    <p class="card-text"><%=data.description%></p>
                    <% if (data.price !== undefined) { %>
                        <p class="card-text">&#x20b9;<%= data.price.toLocaleString("en-IN") %></p>
                    <% } else { %>
                        Price not available
                    <% } %>
                    <p class="card-text"><%=data.location%></p>
                    <p class="card-text"><%=data.country%></p>   
                </div>
            </div>
        </div>
        <!-- <div class="btns">
            <a href="/listing/<%=data._id%>/edit" class="offset-3 edit-btn btn"><b>Edit</b></a>
            <form action="/listing/<%=data._id%>?_method=DELETE" method="post">
                <button class="offset-4 btn btn-dark"><b>Delete</b></button>
            </form>
        </div> -->
        <%if(currSessionUser && currSessionUser._id.equals(data.owner._id)) {%>
            <div class="btns">
                <a href="/listing/<%=data._id%>/edit" class="offset-3 edit-btn btn"><b>Edit</b></a>
                <form action="/listing/<%=data._id%>?_method=DELETE" method="post">
                    <button class="offset-4 btn btn-dark"><b>Delete</b></button>
                </form>
            </div>
        <%}%>
        <div class="col-6 offset-3">
            <%if(currSessionUser){%>
                <form action="/listing/<%=data._id%>/review" method="post" novalidate class="needs-validation">
                    <hr>
                    <h4>Leave a Review</h4>
                    <div>
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" id="rating" name="review[rating]" class="form-range" min="1" max="5">
                    </div>
                    <div>
                        <label for="comment" class="form-label">Comment..</label>
                        <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please write few words for review</div>
                    </div><br>
                    <button class="btn btn-outline-dark">Submit</button>
                </form>
            <%}%>
            <hr>
            <p><b>All Reviews</b></p>
            <div class="row">
                <%for(let review of data.review){%>
                    <div class="card review-card col-5 mb-3 ms-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@<%=review.author.username%></h5>
                            <p class="card-text"><%=review.comment%></p>
                            <p class="card-text"><%=review.rating%> stars</p>
                            <form action="/listing/<%=data._id%>/review/<%=review._id%>?_method=DELETE" class="mb-3" method="POST">
                                <button class="btn btn-sm btn-dark">Delete</button>
                            </form>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
    </div>

    
